.navigation-bar__link {
  color: #263238;
  text-decoration: none;
}

.body__title {
  font-family: 'JetBrains Mono', monospace;
  /* あとでまとめて継承するようにさせたい */
  color: #fafafa;
  font-size: 6rem;
}

.body__subtitle {
  color: #fafafa;
  font-size: 4rem;
}
