.body__title {
  font-family: 'Noto Sans Japanese', monospace;
  /* あとでまとめて継承するようにさせたい */
  color: #1de9b6;
  font-size: 6rem;
}

.body__subtitle {
  color: #fafafa;
  font-size: 4rem;
  font-family: 'Noto Sans Japanese', Arial, Helvetica, sans-serif;
}

.body__heading {
  color: #1de9b6;
  font-size: 2rem;
  font-family: 'Noto Sans Japanese', Arial, Helvetica, sans-serif;
}

.body__text {
  color: #fafafa;
  font-family: 'Noto Sans Japanese', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.body__link-text {
  color: #1de9b6;
  font-family: 'Noto Sans Japanese', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.navigation__link-text {
  color: #263238;
  font-family: 'Noto Sans Japanese', Arial, Helvetica, sans-serif;
  font-weight: 400;
}
