.body__title {
  font-family: 'JetBrains Mono', monospace;
  /* あとでまとめて継承するようにさせたい */
  color: #fafafa;
  font-size: 6rem;
}

.body__subtitle {
  color: #fafafa;
  font-size: 4rem;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.body__heading {
  color: #fafafa;
  font-size: 2rem;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.body__text {
  color: #fafafa;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: 400;
}
